
.icon-wristwatch:before { content: '\e800'; } /* '' */
.icon-home:before { content: '\e801'; } /* '' */
.icon-video:before { content: '\e802'; } /* '' */
.icon-pencil:before { content: '\e803'; } /* '' */
.icon-picture:before { content: '\e804'; } /* '' */
.icon-book:before { content: '\e805'; } /* '' */
.icon-truck:before { content: '\e806'; } /* '' */
.icon-music:before { content: '\e807'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */
.icon-female:before { content: '\f182'; } /* '' */
.icon-soccer-ball:before { content: '\f1e3'; } /* '' */
.icon-television:before { content: '\f26c'; } /* '' */
.icon-shower:before { content: '\f2cc'; } /* '' */