#artykuly-spozywcze
{
	background-color: #CC7F19;
}

#artykuly-spozywcze:hover
{
	background-color: #FAEBD7;
}

#bizuteria
{
	background-color: #008055;
}

#bizuteria:hover
{
	background-color: #7FFFD4;
}

#dla-dzieci
{
	background-color: #9F9F2D;
}

#dla-dzieci:hover
{
	background-color: #F5F5DC;
}

#dom-i-ogrod
{
	background-color: #B36200;
}

#dom-i-ogrod:hover
{
	background-color: #FFE4C4;
}

#elektronika
{
	background-color: #000000;
}

#elektronika:hover
{
	background-color: #808080;
}

#filmy
{
	background-color: #CC7A00;
}

#filmy:hover
{
	background-color: #FFEBCD;
}

#firma
{
	background-color: #0000FF;
}

#firma:hover
{
	background-color: #E6E6FF;
}

#kolekcje-i-sztuka
{
	background-color: #8A2BE2;
}

#kolekcje-i-sztuka:hover
{
	background-color: #F3E9FC;
}

#ksiazki
{
	background-color: #A52A2A;
}

#ksiazki:hover
{
	background-color: #F5D6D6;
}

#motoryzacja
{
	background-color: #503716;
}

#motoryzacja:hover
{
	background-color: #DEB887;
}

#muzyka
{
	background-color: #5F9EA0;
}

#muzyka:hover
{
	background-color: #EFF5F5;
}

#odziez-i-obuwie
{
	background-color: #7FFF00;
}

#odziez-i-obuwie:hover
{
	background-color: #F2FFE6;
}

#sport-i-wypoczynek
{
	background-color: #D2691E;
}

#sport-i-wypoczynek:hover
{
	background-color: #FCF1E9;
}

#uroda-i-zdrowie
{
	background-color: #4D1400;
}

#uroda-i-zdrowie:hover
{
	background-color: #FF7F50;
}